@let details = details$ | async;
@if (details) {
<section class="details">
  <h4>Details</h4>
  <dl>
    <dt>Link</dt>
    <dd><a [href]="details.homepage" target="_blank">Homepage</a></dd>
    <dt>Origin</dt>
    <dd>
      <img [src]="'https://flagsapi.com/' + details.origin.country + '/shiny/32.png'">
      ({{details.origin.language}})
    </dd>
    <dt>Budget</dt>
    <dd>{{details.budget | currency:'USD':'symbol':'.0'}}</dd>
    <dt>Revenue</dt>
    <dd>{{details.revenue | currency:'USD':'symbol':'.0'}}</dd>
    <dt>Spoken Languages</dt>
    <dd>{{details.languages}}</dd>
  </dl>
</section>

@let videos = videos$ | async;
@if (videos && videos.length > 0) {
<section>
  <h4>Trailer</h4>
  @for (video of videos; track video.id) {
  <iframe [src]="getSafeResourceUrl(video.url)" frameborder="0" allowfullscreen width="560" height="315"></iframe>
  }
</section>
}

@let reviews = reviews$ | async;
@if (reviews && reviews.length > 0) {
<section class="reviews">
  <h4>What others say</h4>
  @for (review of reviews; track review.id) {
  <article>
    <h5>Review by <span class="author">{{review.author}}</span></h5>
    <p>{{review.content | truncate}}</p>
  </article>
  }
</section>
}

@let similar = similar$ | async;
@if (similar && similar.length > 0) {
<section>
  <h4>You might also like</h4>
  <ul class="similar">
    @for (video of similar; track video.id) {
    <li>
      <img [src]="video.poster" alt="video.title" width="94" height="141">
    </li>
    }
  </ul>
</section>
}

} @else {
Loading...
}
