:host {
  display: grid;
  grid-template-columns: 150px auto;
  gap: var(--space-md);
  padding: var(--space-sm);
}

.details {
  grid-row: 1 / 4;

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: var(--space-md);
    display: flex;
    place-items: center;
    gap: var(--space-sm);
  }
}

h4 {
  font-size: var(--font-md);
  margin-bottom: var(--space-sm);
}

h5 {
  font-size: 1em;
  margin-bottom: var(--space-sm);
}

section~section:not(:last-child) {
  margin-bottom: var(--space-md);
}

ul.similar {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: row;
  gap: var(--space-sm);
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  >li {
    flex: 1 0 auto;
  }
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: currentColor;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.reviews {
  article~article {
    margin-top: var(--space-md);
  }

  .author {
    color: var(--accent-primary);
    background-color: var(--black);
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--border-medium);
  }
}
