ul.similar {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: row;
  gap: var(--space-sm);
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  > li {
    flex: 1 0 auto;
  }
}

.last-section {
  padding-bottom: var(--space-md);
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: currentColor;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}
