:host {
  width: 100%;
}

article {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "img  info"
    "more more";
  max-width: clamp(800px, 50%, 60%);
  width: 100%;
  margin: auto;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border-color);
  border-radius: var(--border-medium);
  overflow: hidden;
  position: relative;

  .show-more {
    position: absolute;
    height: 100%;
    background-color: var(--overlay-bg);
    right: 0;
    width: 0;
    transition: width 0.3s ease;
  }

  &:focus-within,
  &:hover {
    cursor: pointer;
    outline: none;

    .show-more {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .show-more::after {
      white-space: nowrap;
      content: "More →";
    }
  }

  &.expanded {
    .show-more {
      width: 0;
    }

    .show-more::after {
      content: '';
    }
  }

  h3 {
    font-size: var(--font-lg);
  }

  img {
    order: -1;
    border-top-left-radius: var(--border-medium);
    border-bottom-left-radius: var(--border-medium);
  }

  .content {
    padding: var(--space-sm) 0 0 var(--space-md);
    display: flex;
    flex-direction: column;

    p {
      flex: 1 auto;
    }
  }

  .overview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: calc(1.4em * 2);
    margin-top: 0.5rem;
  }

  .movie-meta {
    display: flex;
    gap: var(--space-md);
  }

  .more {
    grid-area: more;
  }

  .star {
    display: inline-block;
    color: yellow;
    width: 18px;
    height: 18px;
    fill: yellow;
  }

  .score {
    font-weight: bold;
  }

  .genres {
    span {
      margin-right: var(--space-sm);
      background-color: var(--black);
      border-radius: var(--border-md);
      padding: var(--space-sm) var(--space-md);
    }
  }
}
