<article [class.expanded]="isExpanded()" role="button" [ariaLabel]="movie().title" (click)="toggle()">
  <div class="content">
    <h3>{{ movie().title }}</h3>
    <span class="original-title">({{movie().originalTitle}})</span>
    <p class="movie().meta">
      <span>Released:
        <time attr.datetime={{movie().releaseDate}}>{{movie().releaseDate | date}}</time></span>&nbsp;
      <span>Score: {{movie().votes.avg}} (voted: {{movie().votes.count}})</span>
    </p>
    <p class="genres">
      @for (genre of movie().genres; track genre) {
      <span>{{genre}}</span>
      }
    </p>
    <p class="overview">{{movie().overview}}</p>
  </div>

  <img src={{movie().poster}} alt={{movie().title}} height="225" width="150">

  @if(showInfo()) {
  <app-movie-item-info class="more" [id]="movie().id" (contentReady)="isExpanded.set(true)" />
  }
</article>
