:host {
  overflow: scroll;
}

.movies {
  display: flex;
  flex-direction: column;
  place-items: center;
  scroll-behavior: smooth;

  h2 {
    top: 0;
    width: 100%;
    text-align: center;
    font-size: var(--font-xl);
    margin: var(--space-lg);
  }

  .no-results {
    font-size: var(--font-md);
    text-transform: uppercase;
  }
}

.movies>*~* {
  margin-top: var(--space-md);
}
