:host {
  overflow: scroll;
}

.movies {
  display: flex;
  flex-direction: column;
  place-items: center;

  h2 {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: white;
  }
}

.movies > * ~ * {
  margin-top: var(--space-md);
}
