<section class="cards movies">
  <h2>Playing now</h2>
  @for (movie of movies$ | async; track movie.id) {
  <article>
    <div>
      <h3>{{ movie.title }}</h3>
      <span class="original-title">({{movie.originalTitle}})</span>
      <p>Released: <time attr.datetime={{movie.releaseDate}}>{{movie.releaseDate}}</time></p>
      <p class="overview">{{movie.overview}}</p>
    </div>
    <img src={{movie.poster}} alt={{movie.title}} height="141" width="94">
  </article>
  }
  <p id="loading" style="height: 40px"> </p>
</section>
