:root {
  --color-gray: lightgray;

  --border-medium: 8px;

  --space-sm: 0.5rem;
  --space-md: 1rem;

  --shadow-color: rgba(26, 30, 34, 0.08);
}

.cards {
  --card-border-color: var(--color-gray);
}
